{% extends "base.html"%}
{% block title %} Employee Management {% endblock %}
{% block extra_css %}
<style></style>
{% endblock %}

{% block content %}
    <div class="maindiv">
        <div class="formdiv" >
            <h2 class="form-title">Add New Employee</h2>
            <form method="post" class="form" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="name" class="form-label">Employee Name:</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter employee name" required>
                </div>
                <div class="form-group">
                    <label for="name" class="form-label">Employee Position:</label>
                    <input type="text" id="remarks" name="remarks" class="form-control" placeholder="Job position" required>

                </div>
                <button type="submit" class="form-button">Add Employee</button>
            </form>
        </div>
        <div class="tables">
            <div class="tablediv" >
                <h2 class="table-title">Our Employees</h2>
                <div style=" overflow: auto; max-height: 50vh;">
                    <table class="table" >
                        <tr align="center" >
                            <th>#</th>
                            <th>Employees</th>
                            <th>Position</th>
                            <th></th>
                        </tr> 
                        {% for worksite in employees %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td ><div style=" word-wrap: break-word; ">{{ worksite.name }}</div></td>
                            <td> <div style="word-wrap: break-word; min-height: 20px;">
                                <!-- <p>Work Status: {{worksite.status}} company</p> -->
                                {{ worksite.remarks }}
                            </div></td>
                            <td >
                                <div>
                                    <a href="{% url 'editEmployee' worksite.id %}" onclick="editEmployee('{{ worksite.id }}')" class="a-edit"  >Edit</a>
                                </div>     
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" align="center">No Any Employees.</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="tablediv" >
                <h2 class="table-title">Removed Employees</h2>
                <div style=" overflow: auto; max-height: 50vh;">
                    <table class="table" >
                        <tr align="center" >
                            <th>#</th>
                            <th>Employees</th>
                            <th>Position</th>
                            <th></th>
                        </tr> 
                        {% for worksite in removed %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td ><div style="word-wrap: break-word; ">{{ worksite.name }}</div></td>
                            <td> <div style="word-wrap: break-word; min-height: 20px;">
                                <!-- <p>Work Status: {{worksite.status}} company</p> -->
                                {{ worksite.remarks }}
                            </div></td>
                            <td >
                                <div >
                                    <a href="{% url 'editEmployee' worksite.id %}" onclick="editEmployee('{{ worksite.id }}')" class="a-edit"  >Edit</a>
                                </div>               
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" align="center">No Any Employees.</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


